@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
<main role="main" class="home_wallpaper">
    <div class="backgroud-transparent-overlay"></div>
    <div class="central-container">
    <!-- Hlavní box s názvem-->
<div class="title-box">
    <h1>Guild Management System</h1>
    <p class="subtitle">Semestrální práce - BCSH2_Kratky</p>
</div>

<!-- Boxy s tlačítky-->
        <p>
            Tato aplikace umožňuje správu gild, členů, úkolů a pokladnic.
            Zpravujte guildu její finance, členy, úkoly a více!
            Využijte navigaci nahoře k přístupu k jednotlivým sekcím.
        </p>



</div>

    </div>
</main>
