html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.home_wallpaper {
    background-image: url('/pics/fantasy_city.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /*výška pøes celou stránku*/
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*prùhledný pruh za central-container */
.background-transparent-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 60%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.6);
    z-index: 1; /* pruh je za central-container*/
}

/* hlavní menu v homepage */
.central-container {
    position: relative;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgba(255,255,255,0.35);
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

.title-box {
    margin-bottom: 20px;
}

.button_box {
    width: 100%
}

.button-box .btn {
    width: 100%
}

/*Zvetšení fontu a mezery v menu */
.navbar-nav . nav-item {
    margin-right: 20px; /* zvìtší mezery mezi položkami */
}
.navbar-nav .nav-link {
  font-size: 18px;
}


