html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.home_wallpaper {
    background-image: url('/pics/fantasy_city.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /*vıška pøes celou stránku*/
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*prùhlednı pruh za central-container */
.background-transparent-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 60%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.6);
    z-index: 1; /* pruh je za central-container*/
}

/* hlavní menu v homepage */
.central-container {
    position: relative;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgba(255,255,255,0.35);
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

.title-box {
    margin-bottom: 20px;
}

.button_box {
    width: 100%
}

.button-box .btn {
    width: 100%
}

/*Zvetšení fontu a mezery v menu */
.navbar-nav . nav-item {
    margin-right: 20px; /* zvìtší mezery mezi polokami */
}
.navbar-nav .nav-link {
  font-size: 18px;
}

table tr:hover {
    background-color: rgba(200, 200, 200, 0.2);
    cursor: pointer;
}

p, h1, h2 {
    font-family: 'Uncial Antiqua', serif;
    
}

.dropdown-with-background {
    position: relative;
    background: url('/pics/pantheon.jpg') no-repeat center center;
    background-size: cover;
    padding: 15px;
    border-radius: 10px; /* Jemné zaoblení okrajù */
    color: white; /* Text bude bílı, aby lépe vynikl */
    overflow: hidden; /* Skryje pøesahy pseudo-elementu */

}

    .dropdown-with-background::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25); /* Poloprùhledná èerná vrstva */
        z-index: 1; /* Pøekrıvá obrázek */
    }

    .dropdown-with-background .dropdown-item {
        position: relative; /* Zajišuje, e text je nad èernou vrstvou */
        z-index: 2; /* Text je nad pseudo-elementem */
        background: rgba(0, 0, 0, 0.85); /* Jemné tmavé pozadí pod textem */
        border-radius: 5px;
        color: white;
        padding: 8px 12px;
        margin: 5px 0;
        font-weight: bold;
    }

        .dropdown-with-background .dropdown-item:hover {
            background: rgba(255, 255, 255, 0.3); /* Hover efekt s vyšší prùhledností */
            color: black; /* Zmìna textu na èernı pøi hoveru */
            text-decoration: underline; /* Jemné podtrení pøi hoveru */
        }
