@model Guild

<h2>Upravit Gildu</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id_Guild" />
    <div class="form-group">
        <label for="Name">Název</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required />
    </div>
    <div class="form-group">
        <label for="Type">Typ</label>
        <select asp-for="Type" class="form-control" asp-items="@(new SelectList(Enum.GetValues(typeof(GuildType)), Model.Type))">
        </select>
    </div>
    <div class="form-group">
        <label for="Prestige">Prestiž</label>
        <input type="number" class="form-control" id="Prestige" name="Prestige" value="@Model.Prestige" min="-100" max="100" required />
    </div>

    <button type="submit" class="btn btn-primary">Uložit změny</button>
    <a asp-action="Index" class="btn btn-secondary">Zrušit</a>
</form>
